SQL_USER=<username for your database>
SQL_PASSWORD=<password for your database>
SQL_DATABASE=ChompTrack
SQL_HOST=localhost
SQL_PORT=<port number for your database>

SPOONACULAR_API_KEY=<Obtain an API key from Spoonacular>
